<div class="content-wrapper" style="min-height: 500px;">
    <section class="content-header">
      <div class="container-fluid">
      </div>
    </section>
  
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Employee</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-info" (click)="showaddemployee()">
                    Add
                  </button>
                </div>
              </div>
  
              <div class="card-body table-responsive p-1" style="height: 400px;">
                <table class="table table-head-fixed text-nowrap table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Branch Id</th>
                      <th>Branch Name</th>
                      <th>Address</th>
                      <th>City</th>
                      <th>State</th>
                      <th>Country</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>BR101</td>
                      <td>Belapur</td>
                      <td>Near Thane Belapur Road</td>
                      <td>Navi Mumbai</td>
                      <td>Maharashtra</td>
                      <td>India</td>
                      <td class="text-right py-0 align-middle">
                        <div class="btn-group btn-group-sm">
                          <button type="button" class="btn btn-info" (click)="showeditemployee()">
                            <i class="fas fa-pen"></i>
                          </button>
                          &nbsp;&nbsp;&nbsp;
                          <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>BR101</td>
                      <td>Belapur</td>
                      <td>Near Thane Belapur Road</td>
                      <td>Navi Mumbai</td>
                      <td>Maharashtra</td>
                      <td>India</td>
                      <td class="text-right py-0 align-middle">
                        <div class="btn-group btn-group-sm">
                          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-default">
                            <i class="fas fa-pen"></i>
                          </button>
                          &nbsp;&nbsp;&nbsp;
                          <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>BR101</td>
                      <td>Belapur</td>
                      <td>Near Thane Belapur Road</td>
                      <td>Navi Mumbai</td>
                      <td>Maharashtra</td>
                      <td>India</td>
                      <td class="text-right py-0 align-middle">
                        <div class="btn-group btn-group-sm">
                          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-default">
                            <i class="fas fa-pen"></i>
                          </button>
                          &nbsp;&nbsp;&nbsp;
                          <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>BR101</td>
                      <td>Belapur</td>
                      <td>Near Thane Belapur Road</td>
                      <td>Navi Mumbai</td>
                      <td>Maharashtra</td>
                      <td>India</td>
                      <td class="text-right py-0 align-middle">
                        <div class="btn-group btn-group-sm">
                          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-default">
                            <i class="fas fa-pen"></i>
                          </button>
                          &nbsp;&nbsp;&nbsp;
                          <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>BR101</td>
                      <td>Belapur</td>
                      <td>Near Thane Belapur Road</td>
                      <td>Navi Mumbai</td>
                      <td>Maharashtra</td>
                      <td>India</td>
                      <td class="text-right py-0 align-middle">
                        <div class="btn-group btn-group-sm">
                          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-default">
                            <i class="fas fa-pen"></i>
                          </button>
                          &nbsp;&nbsp;&nbsp;
                          <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>BR101</td>
                      <td>Belapur</td>
                      <td>Near Thane Belapur Road</td>
                      <td>Navi Mumbai</td>
                      <td>Maharashtra</td>
                      <td>India</td>
                      <td class="text-right py-0 align-middle">
                        <div class="btn-group btn-group-sm">
                          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-default">
                            <i class="fas fa-pen"></i>
                          </button>
                          &nbsp;&nbsp;&nbsp;
                          <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>BR101</td>
                      <td>Belapur</td>
                      <td>Near Thane Belapur Road</td>
                      <td>Navi Mumbai</td>
                      <td>Maharashtra</td>
                      <td>India</td>
                      <td class="text-right py-0 align-middle">
                        <div class="btn-group btn-group-sm">
                          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-default">
                            <i class="fas fa-pen"></i>
                          </button>
                          &nbsp;&nbsp;&nbsp;
                          <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
  
            </div>
  
          </div>
        </div>
      </div>
    </section>
  </div>